.egypt_tour_text{
    font-size: 1.1rem;
}
.card_imgLayer{
    position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
    left:0%;
    bottom: 0%;
    background-color: rgba(64, 135, 179, 0.457) !important;
    opacity: 0;
    padding: 0.2rem 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.card_imgLayer:hover{

    opacity: 1;

}
.bg__form {
    background-color: #efe9e4a4;
  }