root{
    font-size: 16px;
}
h1 {
    font-size: 4rem;
    font-family            : 'Gambetta', serif;
    letter-spacing         : -3px;
    transition             : 700ms ease;
    font-variation-settings: "wght"311;
    margin-bottom          : 0.8rem;
    color                  : #000;

}
h1:hover {
    font-variation-settings: "wght"582;
    letter-spacing         : 1px;
    
}
h2 {
    
    color                  : var(--primary-color);
}

.hero__description {
    font-size  : 1rem;
    line-height: 2rem;
}


.text_read {
    text-decoration: none;
   color: #318fab !important;
}

.secondary-color-text{
    color                  : #318fab !important;
}
.icon-style{
    font-size: 1.2rem;
}

.icon__color {
 
    font-size: 1.5rem;
}

.main_Color {
    background-color:var( --primary-color);
}

.accordion-button:not(.collapsed) {
    color           : var(--bs-accordion-active-color);
    background-color: rgba(220, 246, 237, 0.5) !important;
    box-shadow      : inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.whatsapp {
    position: fixed;
    left    : 0%;
    bottom  : 0%;
    width   : 60px;
    cursor  : pointer;
    z-index : 9999;
    margin:  10px;
}

.position-relative {
    position: relative;
}

.whatsapp-text {
    position         : absolute;
    top              : 0%;
    left             : -2%;
    transform        : translate(-0%, 0%);
    opacity          : 0;
    transition       : opacity 0.3s ease-in-out;
    background-color : #454646;
    padding          : 0.3rem;
    -webkit-transform: translate(-0%, 0%);
    -moz-transform   : translate(-0%, 0%);
    -ms-transform    : translate(-0%, 0%);
    -o-transform     : translate(-0%, 0%);
    color            : white;
}

.whatsapp:hover+.whatsapp-text {
    opacity: 1;
}
.hero-img{
    background-image: url("./../../../src/assets/img/AdobeStock_268469589_Preview1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
}
.layer{
    background-color:rgba(0, 0, 0, 0.6);
}

.tour-package-img{
    /* background-image: url("./../../../src//assets/img/wepik-export-20240226104819ittN.jpeg");
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover; */
   background-color: #f1f1f1;
}
.tour-package-border {
    border:2px solid #318fab !important;
    
    height: 30px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.tour-package-border p{
font-size: 0.7rem;
color: #318fab;
}

.tour-package-border p:hover{
    color: #7bc3d7;
}
.nav-text{
    font-size: 0.9rem !important;
}
.egypt-tour-sec{
    width: 50%;
    margin: auto;
    gap: 10px;
}  .container-width{
    width: 90% ;

    margin: auto;
 }
@media screen and (max-width: 1024px) {


    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
       display: none;
      }
     .container-width{
        width: 95% !important;
     }
   
      .tour-package-border p{
        font-size: 0.8rem;
        color: #318fab;
        }
      .Best-Selling{
        margin: 0rem !important;
        padding: 0rem  !important;
      }
      .tour-package-img{
        /* background-image: url("./../../../src//assets/img/wepik-export-20240226104819ittN.jpeg");
        background-repeat: no-repeat;
        background-position: 100%;
       background-size: cover; */

    }
}
@media screen and (max-width: 768px) {
    root{
        font-size: 15px;
    }
    .hero{
        display: none;
    }
    /* .shadow-sec-none{
        box-shadow: none !important;
    } */
    .tour-packages-section{
        margin-bottom: 0 !important;
        padding-bottom: 0  !important;
    }  
      .card-slider{
     
        padding: 0  !important;
    }.container-width{
        width: 100% !important;
      
        
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
       display: none;
      }
   
      .p-5 {
        padding: 0rem !important;
        padding-top: 3rem !important;
      }
      .tour-package-border p{
        font-size: 0.8rem;
        color: #318fab;
        }
      .Best-Selling{
        margin: 0rem !important;
        padding: 0rem  !important;
        margin-bottom: 3rem !important;
      }
      .container-width{
        width: 95% !important;
     }
     .tour-package-img{
        /* background-image: url("./../../../src//assets/img/wepik-export-20240226104819ittN.jpeg");
        background-repeat: no-repeat;
        background-position: 100%;
       back
       background-size:cover; */
   
    }
}