.logo {
    width: 155px !important;
}

 .page__link {
    color  : #000000 !important;
    padding: 10px 0;
}

 .page__link:hover {
    color                  : var(--primary-color)!important;

}
.navbar-light .navbar-toggler-icon {
    background-image: image-set ;
  }

.is-active{
    background-color: #000000;
}
.page__link .is-active {
    color: rgb(48, 126, 159);
  }