#cardSlider .swiper-slide {

  margin-bottom: 2rem;
}

.card-slider-layer {
  /* background-color:rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0; */
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  -ms-border-radius    : 50%;
  -o-border-radius     : 50%;
  display              : flex;
  align-items          : center;
  justify-content      : center;
  opacity              : 1;
  transition           : all 0.5s;
  -webkit-transition   : all 0.5s;
  -moz-transition      : all 0.5s;
  -ms-transition       : all 0.5s;
  -o-transition        : all 0.5s;
}

.card-slider-layer:hover {
  opacity: 1;
}

/* #cardSlider.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
 
  display: none;
} */
.mySwiper {
  cursor: pointer;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  left  : 0;
  width : 100%;
}