.links a {
  font-size: 0.9rem;
}
.links a:hover {
color: #318fab;}

.number__day {
  font-size            : 1.667em;
  line-height          : 1;
  font-weight          : 600;
  color                : #232323;
  display              : block;
  background           : #efe9e4a4;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius        : 3px 3px 0 0;
  padding              : 4px 0 10px;
}
.trip-card-info{
  background           : #efe9e4a4;

}
.day {
  font-size  : .778em;
  font-weight: 400;
  font-style : italic;
}

.period {
  font-size  : 0.9rem;
  color      : rgba(35, 35, 35, .8);
  font-weight: 500;
}
.trip-img{
  height: 330px;
  object-fit: cover;
}
.text-fees {
  font-size: 0.9rem;
}

.check__btn {
  font-size  : 18px;
  background : #318fab;
  color      : #fff;
  font-weight: 600;
  border     : 1px solid #318fab;
}

.check__btn:hover {
  font-size  : 18px;
  background : #fff;
  color      : #318fab;
  font-weight: 600;
  border     : 1px solid #318fab;
}

.border__green {

  border-left: 4px solid #318fab;
}

.table-striped>tbody>tr:nth-of-type(2n+1)>* {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type   : rgba(195, 221, 224, 0.742) !important;
}

.form__label {
  font-size: 0.9rem !important;
}
.trip-nav{
  width: 85%;
}
.trip__form {
  width : 85%;
}
.itinerary__content__day{
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  outline: none;
  text-align: center;

}
.itinerary__content__day:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  
.trip-title{
  transform: scale(0.8) !important;
  -webkit-transform: scale(0.8) !important;
  -moz-transform: scale(0.8) !important;
  -ms-transform: scale(0.8) !important;
  -o-transform: scale(0.8) !important;
}
.itinerary-description{
  font-size: 0.9rem;
}